@charset "utf-8";

img {
    max-width: 800px;
}

div {
    text-align: center;
}

footer {
    padding-top: 20px;
}

.sobre-img img {
  width: 100%;
  
}

img {
    width: 100%;
}

.erycovsk-footer {
    color: black;
}

      
